.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.img-container {
    flex: 5;
}

.img-container .img-fluid {
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 10px 0 0 10px;
}

.img-container-row .img-fluid:nth-child(1) {
    border-radius: 0 10px 0 0;
}

.img-container-row .img-fluid:nth-child(3) {
    border-radius: 0 0 10px 0;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1.65;
}