body{
    background-color: #fff;
}

.title-section {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 36px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.paragrafos-sobre {
    width: 45%;
}

.paragrafos-sobre p {
    line-height: 30px;
    font-size: 14px;
    text-align: justify;
}

.img-sobre {
    width: 45%;
}

.img-sobre img {
    width: 100%;
}

form {
    margin: 0 auto;
}

fieldset {
    width: 100%;
    padding: 35px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 6px 4px 20px 0 rgb(0, 0, 0, 0.2);
    /*tamanho da sombra em relação eixo x*/
    /*tamanho da sombra em relação eixo y*/
    /*esmaecimento da cor da sombra (efeito blur)*/
    /*Indicar o quanto a sobra vai se espalhar*/
    /*cor da sombra*/
}

fieldset h3 {
    text-align: center;
    font-weight: 400;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-group input, .input-group textarea {
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    padding: 15px;
    border: 0.5px solid black;
}

.input-group input:focus, .input-group textarea:focus {
    border: 3px solid #004AAD;
    outline: #004AAD;
}

.input-btn input {
    width: 200px;
    height: 56px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    background: #004AAD;
}

.input-btn input:hover {
    /*hover é o efeito quando eu passo o ponteiro do mouse no seletor*/
    background: #01367c;
}

#perguntas-frequentes>.container>ul {
    margin: 0 auto 30px;
}

#perguntas-frequentes>.container>ul>li {
    list-style: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 6px 4px 20px 0 rgb(0, 0, 0, 0.2);
    padding: 30px;
    margin: 15px 0;
}

footer {
    height: 56px;
    background: #01367c;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #d3d3d3;
}