/**************** 
* TODO COMPONENTE 1 
*****************/
*{
    margin: 0;
    padding: 0;
}
body{
    background: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
/** FIM DO COMPONENTE 1 **/

/**************** 
* TODO COMPONENTE 2 
*****************/

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    list-style: none;
    margin: 0 15px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.menu a:hover {
    font-weight: bold;
    font-size: 1.1rem;
}

/** FIM DO COMPONENTE 2 **/

/**************** 
* TODO COMPONENTE 3 
*****************/

.testemunhos {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.testemunho {
    padding: 3rem;
    width: 30%;
    margin: 1%;
    height: 100%;
    background: #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.3);
}
.icone i{
    font-size: 3em;
    color: blue;
}
.testemunho .declaracao {
    font-style: italic;
}

.testemunho .aluno {
    font-weight: bold;
    font-size: .8em;
    text-align: right;
    margin-top: 15px;
}

/** FIM DO COMPONENTE 3 **/

/**************** 
* TODO COMPONENTE 4 
*****************/

.notas {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notas table{
    width: 50%;
    font-family: 1.3em;
}
.notas table th, .notas table td{
    text-align: center;
    border-bottom: 3px solid whitesmoke;
    
}
.notas table td{
    border-bottom: 1px solid whitesmoke;
}

.notas table td:hover{
    background: blue;
    font-weight: bold;
}
/** FIM DO COMPONENTE 4 **/

.banner {
    background-color: #8CC7FF;
    height: 200px;
}

.banner h1 {
    text-align: center;
    font-size: 3.5em;
    color: whitesmoke;
    padding-top: 50px;
    text-shadow: #d3d3d3 5px 2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 20px 5%;
}

header img {
    width: 100%;
}

.logo {
    width: 350px;
}

footer {
    /*ja tem uma estilização, caso queira alterar fique a vontade*/
    background-color: black;
    color: whitesmoke;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}