body{
    font-family: 'Rubik', sans-serif;
}
header{
    background-color:#202020;
    width: 100%;
}
.container{
    max-width: 1258px;
    margin: 0 auto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.1rem 0;
}

.top h1{
    color: #854EEE;
    font-size: 2.3rem;
    font-weight: 700;
}
.top nav ul{
    display: flex;
}

.top nav ul li{
    margin-right: 1.2rem;
}

.top nav ul li a {
    color: #efefef;
}
#home{
   background: #252525;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.texto-introducao{

    
}

.ilustracao-introducao{
    width: 60%;
}

.ilustracao-introducao img{
    width: 100%;
}