html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #efefef;
}

header {
    background-color: #202020;
    border-bottom: solid 1px rgb(100, 100, 100);
    width: 100%;
}

.container {
    max-width: 1258px;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
}

.top h1 {
    color: #854EEE;
    font-size: 2.3rem;
    font-weight: 700;
}

.top nav ul {
    display: flex;
}

.top nav ul li {
    margin-right: 1.2rem;
}

.top nav ul li a {
    color: #efefef;
}

#home {
    background: url('../img/space.svg'), #252525;
    background-size: 53%;
    background-repeat: no-repeat;
    position: relative;
}

.planet {
    width: 215px;
    height: 215px;
    background: url('../img/planet.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 2%;
    left: 2%;
}

#home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90.5vh;
}

.texto-introducao {
    width: 60%;
    line-height: 2.6rem;
    z-index: 100;
    color: #efefef;
}

.texto-introducao p {
    font-size: 1.1rem;
    font-weight: 300;
}

.texto-introducao h2 {
    font-size: 2rem;
}

.texto-introducao a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 250px;
    height: 68px;
    color: rgb(239, 239, 239);
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 1px solid rgb(239, 239, 239);
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 10px;
}

.texto-introducao a img {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

.texto-introducao a:hover {
    background-image: linear-gradient(to right, #4458dc80 0%, #844fee86 100%);
    transition: all 0.5s ease-in-out;
}

.ilustracao-introducao {
    width: 60%;
}

.ilustracao-introducao img {
    width: 100%;
}

#sobre {
    background: url('../img/space-two.svg') #202020 no-repeat;
    background-position-y: -50px;
    height: 100vh;
    position: relative;
}

.titulo-secao {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
}

.titulo-secao h2 {
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 300;
    position: relative;
}

.titulo-secao h2::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 3px;
    background-color: #4458dc;
    position: absolute;
    bottom: -15px;
    left: 5px;
}

#sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-sobre {
    width: 45%;
    margin-right: 2.5%;
}

.img-sobre img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    z-index: 100;
}

.txt-sobre {
    width: 45%;
    margin-left: 2.5%;
    height: 100%;
    z-index: 100;
}

.titulo-sobre {
    margin-bottom: 0.5rem;
}

.titulo-sobre h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

.conteudo-sobre {
    line-height: 1.6rem;
    text-align: justify;
}

.float-planet {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    animation: MoveUpDown 2s linear infinite;
}

@-webkit-keyframes MoveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 10px;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 10px;
    }
}

#servicos {
    height: 100vh;
    background: #1f1f1f;
    position: relative;
}

#servicos .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    width: 23%;
    background: #161616;
    border-radius: 8px;
    box-shadow: 2px 2px 14px 5px #4458dc15;
}

#servicos .card {
    height: 360px;
}

.card:hover {
    transform: scale(1.050);
    transition: ease-in-out 0.3s;
}

.card-content {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card-icon {
    width: 64px;
    height: 64px;
    justify-self: flex-start;
}

.card-icon img {
    width: 100%;
}

.card-text {
    justify-self: flex-end;
}

.card-text h4 {
    margin: 0 0 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.card-text p {
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 300;
    padding: 0 1.3rem;
}

.img-dev, .img-dev-woman {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 5%;
}

.img-dev-woman {
    right: 0;
    left: 5%;
    top: -2%;
}

#projetos {
    background: #161616;
    height: 100%;
    padding-bottom: 5rem;
}

#projetos .card {
    width: 30%;
    background: #1f1f1f;
}

#projetos .card-text h4 {
    font-size: 1.2rem;
}

#projetos .card-text p {
    font-size: 1rem;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #252525;
    margin: 1rem 0;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-footer a {
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43%;
    height: 40px;
    background: #8330A5;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:nth-child(2) {
    margin-top: 2rem;
}

#conhecimentos {
    height: 100vh;
    background-color: #1f1f1f;
}

#conhecimentos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conhecimentos .img-conhecimentos img {
    width: 100%;
}

.img-conhecimentos {
    width: 45%;
    margin-right: 2.5%;
}

.range-conhecimento {
    width: 45%;
    margin-left: 2.5%;
}

.range-descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.container-range {
    margin-bottom: 1rem;
}

.range-skills {
    height: 40px;
    width: 100%;
    background-color: #CCC;
    position: relative;
}

.range-skills .range-box {
    position: absolute;
    height: 100%;
    background-color: #8330A5;
    width: 90%;
}

footer {
    width: 100%;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.1), #222222), linear-gradient( 0deg, rgba(0, 0, 0, 0.1), #222222), url(../img/footer.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-evenly;
    background-position: 0px 0px, 38% 45%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
}

footer h2 {
    color: #efefef;
    font-weight: 300;
    font-size: 2.3rem;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.icons a img {
    width: 48px;
    height: 48px;
    margin: 0 2rem;
}

@media (max-width:320px) {
    .top h1 {
        font-size: 2rem;
    }
    nav {
        display: none;
    }
    .texto-introducao {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        line-height: 2rem;
    }
    .texto-introducao p {
        font-size: 0.9rem;
    }
    .texto-introducao h2 {
        width: 90%;
        font-size: 1.6rem;
        align-self: flex-start
    }
    #home .container {
        justify-content: space-evenly;
    }
    .ilustracao-introducao {
        width: 90%;
    }
    .planet {
        display: none;
    }
    #home {
        background-size: 150%;
    }
    .container {
        flex-direction: column;
        width: 100%;
    }
    .img-sobre {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img-sobre img {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    .float-planet {
        display: none;
    }
    .titulo-secao {
        padding: 2rem 0;
    }
    .titulo-secao h2 {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 300;
        position: relative;
    }
    .titulo-secao h2::after {
        display: none;
    }
    section {
        height: 100% !important;
    }
    .txt-sobre {
        width: 90%;
        height: initial;
        margin: 1.6rem;
    }
    .img-dev-woman {
        display: none;
    }
    .img-dev {
        display: none;
    }
    .card {
        width: 90%;
        margin-bottom: 2rem;
    }
    .card-content {
        padding: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    .row {
        flex-direction: column
    }
    .row:nth-child(2) {
        margin-top: 0;
    }
    #projetos {
        padding: 0rem;
    }
    #projetos .card {
        width: 90%;
    }
    .img-conhecimentos {
        display: none;
    }
    .range-conhecimento {
        width: 90%;
    }
    footer h2 {
        font-size: 1.8rem;
        text-align: center;
    }
    .icons a img {
        width: 32px;
        height: 32px;
    }
}