body {
    font-family: 'Rubik', sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

img {
    width: 200px;
}

.player1 {
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}

.player2 {
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}